@model IEnumerable<WebApplication1.Models.ViewModels.UserViewModel>

@{
    ViewBag.Title = "ViewCourseDetails";
}

<h2>ViewCourseDetails</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Add Students to Course", "AddStudentsToCourse")
</div>



